<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/navbar.css') }}" />
  </head>
  <body>
  <footer class="footer">
    <hr/>
    <div class="bottom">
      <div class="bottom-left">
        <p class="bottom-title">軟體工程期末報告 組員：</p>
        <hr/>
        <ul>
          <li>111213015 蔡昇佑</li>
          <li>111213029 吳昱瑩</li>
          <li>111213068 蕭薏軒</li>
          <li>111213072 陳厚駪</li>
        </ul>
      </div>
      <div class="bottom-right">
        <img src="{{ url_for('static', filename='/img/bottom.png') }}"/>
      </div>
    </div>
    <div class="copyright">&copy; Create by 15th</div>
  </footer>
</body>
</html>
