<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>111213015 蔡昇佑</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/styles/register.css') }}"/>
    </head>
    <body>
        <div class="container">
            <div class="loginBlock">
                <div class="back" onClick="history.back()"> &lt; back</div>
                <form action="/registing" method="post">
                    <h1>Welcome! <br/>建立一個帳號</h1>
                    <div class="user-type">
                        <label for="customer">
                            <input type="radio" id="customer" name="role" value="customer" required/>
                            客戶
                        </label>
            
                        <label for="store">
                            <input type="radio" id="store" name="role" value="store">
                            商家
                        </label>
            
                        <label for="delivery">
                            <input type="radio" id="delivery" name="role" value="delivery">
                            外送員
                        </label>
                        <label for="delivery">
                            <input type="radio" id="platform" name="role" value="platform">
                            管理員
                        </label>
                    </div>
                    <div class="account">
                        <h3>使用者名稱:</h3>
                        <input type="text" name="username" required />
                    </div>
                    <br />
                    <div class="account">
                        <h3>Email:</h3>
                        <input type="email" name="email" required />
                    </div>
                    <br />
                    <div class="account">
                        <h3>密碼:</h3>
                        <input type="password" name="password" required />
                    </div>
                    <br />
                    <div class="account">
                        <h3>確認密碼:</h3>
                        <input type="password" name="confirm_password" required />
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% for message in messages %}
                            {% if message == "The password doesn't match" %}
                                <p style="color:red; font-size:13px; text-align:left;width:100%">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                    <br />
                    <button type="submit" id="submit">Sign Up</button>
                </form>
            </div>
            <div class="split"></div>
        </div>
    </body>