<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      slide-content="width=device-width, initial-scale=1.0"
    />
    <title>111213015 蔡昇佑</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/slide.css') }}" >
  </head>
  <body>
    <div class="space"></div>
    <header class="slide-container">
        <p>NCNU，美食外送</p>
        <img src="{{ url_for('static', filename='/img/homepage.png') }}">
    </header>
  </body>
</html>
