.order-container{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    position: relative;
}
.order-container .main-table{
    margin: auto;
    max-width: 1200px;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.order-container .main-table th{
    width: 200px;
    text-align: center;
    padding: 10px;
    background-color: antiquewhite;
    border: 1px solid rgb(252, 221, 181);
}
.order-container .main-table tr{
    transition: .3s;
    cursor: pointer;
}
.order-container .main-table tr:hover {
    background-color: rgb(190, 190, 190);
}
.order-container .main-table td{
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    border: 1px solid rgb(252, 221, 181);
}
.order-container .main-table td:nth-child(1){
    text-align: center;
}
.order-container h1{
    text-align: center;
    padding: 20px 0 5px 0;
    font-size: 30px;
}
.order-container p{
    text-align: center;
}
.order-container h3{
    padding: 10px;
}
.order-container .main-table a{
    text-decoration: none;
    color: white;
    font-weight: 550;
    display: inline-block;
    text-align: center;
    background-color: rgb(255, 169, 21);
    border: 2px solid rgb(255, 169, 21); 
    padding: 2px 8px;
    margin: 3px;
    transition: .2s;
}
.order-container .main-table a:hover{
    background-color:rgb(150, 95, 0);
    border: 2px solid rgb(150, 95, 0); 
}

.order-container .total-price {
    padding: 0;
    text-align: right;
    font-weight: bold;
}
.back{
    position: absolute;
    top: 50px;
    left: 30px;
    transition: .3s;
  }
.back:hover{
color: gray;
cursor: pointer;
}